# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
build

# Production
dist

# Misc
.DS_Store
*.pem

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.local
.env*.local
config.txt

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cursor
.cursor/rules/codacy.mdc
